h1, p {
    font-family: Lato;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgrey;
  }
  
  .modal-overlay {
      position: fixed;
      z-index: 990;
  
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
  }
  
  .modal {
      text-align: center;
      position: fixed;
      z-index: 999;
      display: block;
      border-radius: 5px;
      width: 400px;
      max-width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: white;
  }